.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #f8f8fb;
  color: black;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  color: black;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
